# Java
/java/.classpath
/java/*.iml
/java/*.ipr
/java/*.iws
/java/nb*
/java/.project
/java/.settings/
/java/.gradle/
/java/target/
/java/build/
/java/bin/
/java/tags
/java/.idea
/java/*.aof
/java/*.rdb
/java/redis-git
/java/appendonlydir/

# python
/python/*.pyc
/python/redis.egg-info
/python/build/
/python/dist/
/python/dump.rdb
/python/_build
/python/vagrant/.vagrant
/python/.python-version
/python/.cache
/python/.eggs
/python/.idea
/python/.coverage
/python/python/env
/python/venv
/python/coverage.xml
/python/.venv*
/python/*.xml
/python/.coverage*
/python/docker/stunnel/keys

#node
/node/.idea/
/node/.nyc_output/
/node/.vscode/
/node/coverage/
/node/dist/
/node/node_modules/
/node/.DS_Store
/node/dump.rdb
/node/documentation/
/node/package-lock.json